.Cascader {
  margin: 0%;
  font-size: 20px;
  width: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.Cascader .input {
  width: 160px;
  border: none;
}
@media screen and (max-width: 979px) {
  .Cascader {
    font-size: 13px;
    width: 120px;
  }
  .Cascader .input {
    width: 110px;
  }
}
@media screen and (max-width: 756px) {
  .Cascader {
    font-size: 9px;
    width: 90px;
  }
  .Cascader .input {
    width: 70px;
  }
}
@media screen and (max-width: 480px) {
  .Cascader {
    font-size: 3px;
    width: 50px;
  }
  .Cascader .input {
    width: 50px;
  }
}
