.weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MiddleContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.temp {
  width: 100%;
  height: 100vh;
}
