.WeatherCityContent {
  height: 100vh;
  width: 200px;
  color: #d5d5d5;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.WeatherCity-AddCity {
  font-size: 1px;
}
@media screen and (max-width: 979px) {
  .WeatherCityContent {
    font-size: 6rem;
    width: 140px;
  }
}
@media screen and (max-width: 756px) {
  .WeatherCityContent {
    font-size: 5rem;
    width: 120px;
  }
}
@media screen and (max-width: 480px) {
  .WeatherCityContent {
    font-size: 4rem;
    width: 100px;
  }
}
